/*Navbar*/
.opcion {
    font-size: 20px;
}

.fotocar{
    width: 35%;
    margin-top: 50px;
    margin-left: 150px;
    margin-bottom: 50px;
}

.fotopie{
    width: 20%;
    margin-top: 50px;
    margin-left: 150px;
    margin-bottom: 50px;
}

.disp{
    overflow-x: hidden;
}

.t1{
    color: white; 
    text-align: center;
}

.img_car{
    height: 550px;
    display: block;
    margin:auto;
}

.black-div{
    border-color: black;
    background-color: #021C50;
    margin-top: 20px;
    margin-bottom: 50px;
}

/*estilos contacto*/
.fondo_cont {
    background-color: antiquewhite;
    overflow: hidden;
}

.letra_cont {
    font-size: 30px;
}

.caja {
    background: url(../img/contacto.jpg);
    background-size: cover;
    background-position: center;
    padding: 40px 0;
}

.formulario {
    width: 40%;
    height: 100%;
    padding: 40px;
    border-radius: 3%;
    background-color: rgb(247, 170, 169);
    border: 2px solid rgb(182, 28, 28);
}

/*Estilos nosotros*/
.fondo_mec {
    background: url(https://i.pinimg.com/originals/a0/12/d4/a012d45a50326ffc1f2ec8dd76cb5172.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.caja_mec {
    background-color: antiquewhite;
    padding: 30px;
}

@media(max-width:769px){
    .t1{
        margin-left: 30%;
        font-size: 30px;
    }

    .fotocar{
        margin-left: 30%;
    }

    /*estilos contacto*/
    .letra_cont {
        font-size: 15px;
    }

    .formulario {
        width: 100%;
    }
}

/*estilos login y registro*/
.bordes{
    border-style: solid;
    border-radius: 5%;
    border-color: rgb(182, 28, 28);
    background-color: rgb(247, 170, 169);
    background-size: cover;
    width: 400px;
    display: flex;
    justify-content: center;
    padding: 2px;
}
.form {
    width: 300px;
}
.parrafos{
    font-size: 10px;
    font-weight: lighter;
}
.contenedor{
    width: 100%;
    display: flex;
    justify-content: start;
    flex-direction: column;
    align-items: center;
}
.texto{
    color: aliceblue;
    font-weight: bolder;
    font-variant: small-caps;
}