{% extends 'makween_app/base.html' %}

{% load static %}
<link rel="stylesheet" href="{% static 'makween_app/css/estilo.css' %}">

{% block titulo %}
<title>Makween | Mis atenciones</title>
{% endblock %}

{% block contenido %}
<div class="d-flex justify-content-start flex-column fondo_atenciones" style="height: 100vh;">
    <h1 class="text-center" style="font-variant: small-caps; color: white; padding: 40px 0;">Atenciones enviadas</h1>
    <div class="container-sm atenciones_container">
        <table class="table">
            <thead>
              <tr>
                <th scope="col">Nombre cliente</th>
                <th scope="col">Tipo atención</th>
                <th scope="col">Fecha atención</th>
                <th scope="col">Estado</th>
                <th scope="col">Más información</th>
              </tr>
            </thead>
            <tbody>
                <!-- Iteración de las atenciones de cada mecánico -->
                {% if atenciones %}
                {% for a in atenciones %}
              <tr>
                <td>{{a.nombre_cli}}</td>
                <td>{{a.categoria.nombre}}</td>
                <td>{{a.fecha}}</td>
                <td>
                    {% if a.estado_id == 1 %}
                    <span style="color: gray; font-weight: bold;">Pendiente</span>
                    {% endif %}
                    {% if a.estado_id == 2 %}
                    <span style="color: green; font-weight: bold;">Aprobado</span>
                    {% endif %}
                    {% if a.estado_id == 3 %}
                    <span style="color: red; font-weight: bold;">Rechazado</span>
                    {% endif %}
                </td>
                <td>
                    <a data-bs-toggle="modal" data-bs-target="#Modal{{a.id_atencion}}" class="btn btn-secondary">Ver más</a>
                </td>
              </tr>
              {% endfor %}
              {% else %}
              <tr>
                <td colspan="5">
                    <div class="alert alert-danger text-center">Aun no has enviado atenciones</div>
                </td>
              </tr>
              {% endif %}
            </tbody>
        </table>
    </div>
</div>

{% if detalle %}
{% for d in detalle %}
<!-- Modal : Detalle atenciones listado -->
<div class="modal fade" id="Modal{{d.id_atencion}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable">
      <div class="modal-content" style="background-color: rgb(157, 155, 155);">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel" style="color: white;">Cliente {{d.nombre_cli}}</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <img src="{{d.imagen.url}}" alt="imagen atencion" style="width: 100%; height: 350px; object-fit: cover;">
            <h2 class="fw-bold" style="color: white;">{{d.categoria.nombre}}</h2>
            <p style="color: white;">{{d.descripcion}}</p>
            {% if d.descripcion_estado is null %}
            <span style="margin-top: 10px; color: white; font-size: 15px; font-weight: bold;">Nota del administrador</span>
            <p style="color: black;">No hay ninguna nota...</p>
            {% else %}
            <span style="margin-top: 10px; color: white; font-size: 15px; font-weight: bold;">Nota del administrador</span>
            <p style="color: white;">{{d.descripcion_estado}}</p>
            {% endif %}
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
        </div>
      </div>
    </div>
</div>
{% endfor %}
{% endif %}
{% endblock %}