<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- Bootstrap : parte del body -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tiny-slider@2.9.4/dist/tiny-slider.min.css">
        
        <!-- Estilo -->
        {% load static %}
        <link rel="shortcut icon" href="{% static 'makween_app/img/logo.png' %}">
        <link rel="stylesheet" href="{% static 'makween_app/css/estilo.css' %}">

        <!-- Titulo : uno en cada page -->
        {% block titulo %}
        <title>Makween | inicio</title>
        {% endblock %}
        
    </head>
    <!-- Barra de navegación -->
    <nav class="navbar navbar-light navbar-expand-lg" style="background-color: #ce4a4a;">
        <div class="container-fluid">
           <div class="d-flex align-items-center">
                {% if user.is_authenticated %}
                <a class="navbar-brand" href="#">
                    <img src="{% static 'makween_app/img/logo.png' %}" alt="Logo" width="140" height="100" class="d-inline-block align-text-top">
                </a>
                {% else %}
                <a class="navbar-brand" href="{% url 'home' %}">
                    <img src="{% static 'makween_app/img/logo.png' %}" alt="Logo" width="140" height="100" class="d-inline-block align-text-top">
                </a>
                {% endif %}
            </div> 
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
                <ul class="navbar-nav align-items-center">
                    {% if user.is_authenticated %}

                    {% if user.groups.all.0.name == 'Administrador/ra' %}
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="{% url 'contactos_admin' %}"><span style="font-size: 18px; color: white;">Contactos</span></a>
                    </li>
                    {% endif %}

                    {% if user.groups.all.0.name == 'Administrador/ra' %}
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="{% url 'registro' %}"><span style="font-size: 18px; color: white;">Registrar</span></a>
                    </li>
                    {% endif %}

                    {% if user.groups.all.0.name == 'Administrador/ra' %}
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="{% url 'atenciones' %}"><span style="font-size: 18px; color: white;">Revisar atenciones</span></a>
                    </li>
                    {% endif %}

                    {% if user.groups.all.0.name == 'Mecánico/ca' %}
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="{% url 'formulario' %}"><span style="font-size: 18px; color: white;">Agregar atención</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="{% url 'atenciones_mecanico' %}"><span style="font-size: 18px; color: white;">Mis atenciones</span></a>
                    </li>
                    {% endif %}
                    
                    <li class="nav-item d-flex align-items-center">
                        <a class="nav-link d-flex align-items-center" href="{% url 'Perfil' %}">
                            <box-icon type='solid' name='user-circle' color="white" size="md"></box-icon>
                            <span style="font-size: 18px; color: white;">{{ user.username }}</span>
                        </a>
                    </li>

                    {% else %}

                    <form class="d-flex" id="buscar_mec" style="margin-right: 20px;" action="{% url 'busqueda' %}">
                        <input class="form-control me-2" name="busqueda" type="search" placeholder="Encuentra un mecánico" aria-label="Search" required>
                        <button class="btn btn-danger  " type="submit" style="color: white; border-bottom-color: white ;
                        border-top-color: white ;
                        border-left-color: white ;
                        border-right-color: white ;">Buscar</button>
                    </form>
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="{% url 'home' %}"><span style="font-size: 20px; color: white;">Inicio</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'nosotros' %}"><span style="font-size: 20px; color: white;">Nosotros</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'contactos' %}"><span style="font-size: 20px; color: white;">Contacto</span></a>
                    </li>
                    <li class="nav-item d-flex align-items-center">
                        <a class="nav-link" href="{% url 'login' %}"><box-icon type='solid' name='user-circle' color="white" size="md"></box-icon></a>
                    </li>
                    
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
    <!-- Carrusel -->
    

    <body>    
        {% block contenido %}

        {% endblock %}
        <div class="disp" style="background-color: #ce4a4a;">
            <div class="row">
                <div class="col-md-4 col-12"><br><center><br><img src="{% static 'makween_app/img/car.png' %}" class="fotopie">
                </center><br></div>
                <div class="col-md-4 col-12 textoFooter"><center><br><br><h5>Si existe algún problema con la página contactar con Clyons
                    Email de contacto: cris.merino@duocuc.cl</h5>
                </center></div>
                <div class="col-md-4 col-12"><br><center><img src="{% static 'makween_app/img/logo.png' %}" class="fotopie">
                    <br><h5 class="textoFooter" style="font-size: small;">SunSolution Company, 2023.</h5><br>
                </center></div>
                
            </div>
        </div>
    </body>

    <!-- Scripts : parte del body -->
    <script src="https://unpkg.com/boxicons@2.1.4/dist/boxicons.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/tiny-slider@2.9.4/dist/min/tiny-slider.min.js"></script>
    <!-- jquery cdn -->
    <script src="https://code.jquery.com/jquery-3.6.4.js" integrity="sha256-a9jBBRygX1Bh5lt8GZjXDzyOB+bWve9EiO7tROUtj/E=" crossorigin="anonymous"></script>
    <!-- js -->
    <script src="{% static 'makween_app/js/java.js' %}"></script>

    <!-- SweetAlert 2 -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    {% if messages %}
        {% for m in messages %}
            {% if m.tags == 'error' %}
            <script>
                Swal.fire({
                    "title" : "Procedimiento fallido",
                    "text" : "{{m}}",
                    "icon" : "error"
                })
            </script>
            {% else %}
            <script>
                Swal.fire({
                    "title" : "Procedimiento finalizado",
                    "text" : "{{m}}",
                    "icon" : "success"
                })
            </script>
            {% endif %}
        {% endfor %}
    {% endif %}

</html>