{% extends 'makween_app/base.html' %}

{% block titulo %}
<title>Makween | Atención cliente</title>
{% endblock %}

{% block contenido %}

{% load static %}

<!-- form -->
<script>
    function mostrarImagen(event) {
      var archivo = event.target.files[0];
      var lector = new FileReader();
      
      lector.onload = function(event) {
        var imagenPreview = document.getElementById("imagen-preview");
        imagenPreview.src = event.target.result;
      };
      
      lector.readAsDataURL(archivo);
    }
</script>
    {% load crispy_forms_tags %}
    <div class="miau d-flex align-items-center flex-column">
        <h1 class="text-center" style="font-variant: small-caps; color: white;">Agregar atencion de cliente</h1>
        <br><br>
        <form class="formulario" action="../guardar/" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">Nombre completo del Cliente</label>
                <input type="text" class="form-control" id="nombreIdCont" maxlength="50" name="nombre" required>
                <p id="pNombreCont"></p>
            </div>
            <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">Rut del cliente (sin puntos ni guión)</label>
                <input type="text" class="form-control" id="rutId" maxlength="12" name="rut" required>
                <p id="parrafoRut"></p>
            </div>
            <label for="exampleInputPassword1" class="form-label">Teléfono</label>
            <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon1">+ 56</span>
                <input type="number" class="form-control" placeholder="Solo 9 dígitos" name="telefono" aria-label="Solo 9 dígitos" aria-describedby="basic-addon1" id="numeroIdCont" required>
            </div>
            <label for="exampleInputPassword1" class="form-label">Categoría</label>
            <select class="form-select" name="categoria" required>
                <option value="1">Cambio de ruedas</option>
                <option value="2">Cambio de aceite</option>
                <option value="3">Limpieza de motor</option>
                <option value="4">Alineación</option>
                <option value="5">Pintado</option>
            </select>
            <br>
            <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">Fecha atención</label>
                <input type="date" class="form-control" name="fecha" required>
            </div>
            <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">Descripción de la atención</label>
                <textarea class="form-control" name="descripcion" aria-label="With textarea" id="mensajeCont" placeholder="Debe contener al menos 30 caracteres" required></textarea>
            </div>
            <div class="mb-3">
                <label for="formFile" class="form-label">Imágen de la atención</label>
                <input class="form-control" type="file" id="formFile" name="imagen" accept="image/*" onchange="mostrarImagen(event)" required>
            </div> 
            <img id="imagen-preview" src="" alt="" style="width: 50%;" >
            <div>
                <button type="submit" class="btn btn-primary">Enviar</button>
            </div>
        </form>
        <br>
    </div>
{% endblock %}