{% extends 'makween_app/base.html' %}

{% block titulo %}
<title>Makween | Atención cliente</title>
{% endblock %}

{% block contenido %}

{% load static %}

<!-- form -->
<script>
    function mostrarImagen(event) {
      var archivo = event.target.files[0];
      var lector = new FileReader();
      
      lector.onload = function(event) {
        var imagenPreview = document.getElementById("imagen-preview");
        imagenPreview.src = event.target.result;
      };
      
      lector.readAsDataURL(archivo);
    }
</script>

    <div class="miau d-flex align-items-center flex-column">
        <h1 class="text-center" style="font-variant: small-caps; color: white;">Agregar atencion de cliente</h1>
        <br><br>
        <form class="formulario">
            <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">Nombre completo del Cliente</label>
                <input type="text" class="form-control" id="nombreIdCont" maxlength="50">
                <p id="pNombreCont"></p>
            </div>
            <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">Rut del cliente (sin puntos ni guión)</label>
                <input type="text" class="form-control" id="rutId" maxlength="12">
                <p id="parrafoRut"></p>
            </div>
            <label for="exampleInputPassword1" class="form-label">Teléfono</label>
            <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon1">+ 56</span>
                <input type="number" class="form-control" placeholder="Solo 9 dígitos" aria-label="Solo 9 dígitos" aria-describedby="basic-addon1" id="numeroIdCont">
            </div>
            <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">Descripción de la atención</label>
                <textarea class="form-control" aria-label="With textarea" id="mensajeCont" placeholder="Debe contener al menos 30 caracteres"></textarea>
            </div>
            <div>
                <input type="file" accept="image/*" onchange="mostrarImagen(event)"> 
            
                <img id="imagen-preview" src="" alt="" style="width: 100%;" >
            </div>
            <br>
            <div>
                <button type="submit" class="btn btn-primary">Enviar</button>
            </div>
        </form>
        <br>
    </div>
{% endblock %}