{% extends 'makween_app/base.html' %}

{% block contenido %}
<div class="d-block align-items-center justify-content-center disp" style="background-image: url('../../static/makween_app/img/fondo.jpg');background-size: cover;">
  <br>
        <div class="row">
          <div class="col-md-2"></div>
          <div class="col-md-8">
            <div class="black-div">
              <br>
              <h1 class="t1 texto">Trabajos Recientes</h1><br>
              <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
                      <div class="carousel-indicators">
                        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
                        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
                      </div>
                      <div class="carousel-inner">
                        <div class="carousel-item active">
                          <a href="#"><img class="img_car" src="../../static/makween_app/img/Auto1.jpg" class="d-block w-100" alt="Auto 1">
                          <div class="carousel-caption d-none d-md-block">
                            <div style="background-color: white; opacity: 70%;"><h5 style="color: black;" class="texto">Revisión general de <br>auto Suzuki</h5></div>
                          </div></a>
                        </div>
                        <div class="carousel-item">
                          <a href="#"><img class="img_car" src="../../static/makween_app/img/Auto2.jpeg" class="d-block w-100" alt="Auto 2">
                          <div class="carousel-caption d-none d-md-block">
                            <div style="background-color: white; opacity: 70%;"><h5 style="color: black;" class="texto">Revisión de aceite de <br>auto volksWagen</h5></div>
                          </div></a>
                        </div>
                        <div class="carousel-item">
                          <a href="#"><img class="img_car" src="../../static/makween_app/img/Auto3.jpg" class="d-block w-100" alt="Auto 3">
                          <div class="carousel-caption d-none d-md-block">
                            <div style="background-color: white; opacity: 70%;"><h5 style="color: black;" class="texto">Revisión de motor de <br>auto Hyundai</h5></div>
                          </div>
                        </div></a>
                      </div>
                      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                      </button>
                      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                      </button>
                      <br>
                      <br>
                    </div>
          </div>
          <div class="col-md-2"></div>
        </div>
        
        </div>
</div>
{% endblock %}