{% extends 'makween_app/base.html' %}

{% block contenido %}
<br>
<h1 class="text-center">Ingresa a Makween en línea</h1><br>
<div class="container">
    <div class="row">
        <div class="col-4"></div>
        <div class="col-4 bordes">
            <form>
                <br>   
                <div class="mb-3">
                  <label for="exampleInputEmail1" class="form-label">Correo Electrónico</label>
                  <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                  <div id="emailHelp" class="form-text">Nunca compartiremos tus datos personales.</div>
                </div>
                <div class="mb-3">
                  <label for="exampleInputPassword1" class="form-label">Contraseña</label>
                  <input type="password" class="form-control" id="exampleInputPassword1">
                </div>
                <div class="mb-3 form-check">
                  <input type="checkbox" class="form-check-input" id="exampleCheck1">
                  <label class="form-check-label" for="exampleCheck1">Recordarme</label>
                </div>
                <center><button type="submit" class="btn btn-danger" style="color: black;    border-bottom-color:black ;
                    border-top-color:black ;
                    border-left-color:black ;
                    border-right-color:black ;">Ingresar</button></center><br>
                <div>
                    <div class="mb-3">
                        <center>
                            <p>¿Aún no tienes una cuenta?</p>
                            <a class="text-decoration-none text-dark" href="{% url 'registro' %}"><h5>Regístrate aquí</h5></a>
                        </center>
                    </div>
                </div>    
              </form>
        </div>
        <div class="col-4"></div>
    </div>
</div>
{% endblock %}