{% extends 'makween_app/base.html' %}

{% block titulo%}
<title>Makween | Mi perfil</title>
{% endblock %}

{% load static %}
<link rel="stylesheet" href="{% static 'makween_app/css/estilo.css' %}">

{% block contenido %}
<!-- form -->
<body>

    <div class="contenedor-perfil">
        <div class="card">  
            <img src="https://st3.depositphotos.com/6672868/13701/v/450/depositphotos_137014128-stock-illustration-user-profile-icon.jpg" alt="personas" class="avatar">
            <div class="banner"></div>
            <div class="card-body">
                <h2 class=nombre>{{user.first_name}} {{user.last_name}}</h2>
                <span class="correo">{{user.email}}</span>
                <span class="usuario">{{user.groups.all.0.name}}</span>
            </div>
            <div class="card-numeros">
                <div class="numero">
                    {% if user.groups.all.0.name == 'Mecánico/ca' %}
                    <h3 class="titulo-numero">Atenciones enviadas</h3>
                    <samp class="numero">{{atenciones}}</samp>
                    {% else %}
                    <h3 class="titulo-numero">Atenciones por revisar</h3>
                    <samp class="numero">{{usuarios}}</samp>
                    {% endif %}
                </div>
                <div class="boton">
                    <a href="{% url 'logout' %}" class="btn btn-danger">Cerrar Sesión</a>
                </div>
            </div>
        </div>
    </div>

</body>
{% endblock %}